img{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 200px;
  display: flex;
  border-radius: 10px;
  margin:15px;
}


nav{
  background-color: rgb(29, 29, 29);
  color: white;
  height: 10vh;
  text-decoration: none;
  text-align: center;
}

article{
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  width: 95vw;
  margin: 20px auto;
}

h1{
  font-family: 'Red Hat Text', sans-serif;
}

h3{
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin: 5px 0;
  padding: 0;
}

.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 80vw;
}

.sauce{
    margin: 0;
    font-family: "Red Hat Text, sans-serif";
    text-align: center;
    align-items: center;
}

