img{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 200px;
  display: flex;
  border-radius: 10px;
  margin:15px;
}

header {
  background-color: rgb(29, 29, 29);
  color: white;
  height: 10vh;
  margin: 0 0 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
display: flex;
justify-content: space-evenly;
margin: 10px 0;
}

article{
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  width: 95vw;
  margin: 20px auto;
}

h1{
  font-family: 'Red Hat Text', sans-serif;
}

h3{
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

hr{
  background-color: rgba(255, 0, 0, 0.048);
  height: .25px;
  width: 95vw;
  align-content: center;
  margin-top: 0;
}

p{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin: 5px 0;
  padding: 0;
}

form{
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  width: 80vw;
}

.home{
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 20px auto;
}

.home h3 {
  font-size: 20px;
  font-family: 'Red Hat Text', sans-serif;
}

.home h2 {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  text-align: center;
}

.add-sauce{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px ;
  padding: 0;
}

.info-box{
  width: 100vw;
  background-color: rgba(206, 203, 203, 0.075);
  margin: 0;
  padding: 20px;
}

.hot-sauce{
  width: 90vw;
  margin: auto;
  text-align: center;
}

.chile{
  background-color: rgba(206, 203, 203, 0.075);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hotLevels{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}


label{
    margin: 10px 0;
    font-family: 'Nunito', sans-serif;

}

input{
  font-family: c;

}

button{
  background-color:rgb(29, 29, 29);
  color:white;
  border: none;
  border-radius: 6px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 5px 0;
  padding: 5px;
}

button:hover{
  background-color: rgb(187, 23, 23);
}

/* Peppers */

.peppers{
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  width: 100vw;
  flex-direction: row;
  margin: 0 20px 0;
  font-size: 12px;
  align-items: center;
}

.p-info{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: -20px;
}

.p-images{
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}